@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,700);body {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  font-weight: 200;
  font-family: var(--logo-font);
  color: var(--text-color);
  font-size: 35px;
}

@media(min-width: 600px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

:root {
  --primary-color: #40D6A6;
  --primary-color-shade: #2c9574;
  --accent-color: #448AFF;
  --accent-color-100:#82B1FF;
  --accent-color-400: #2979FF;
  --logo-font: 'Lato', sans-serif;
  --text-color: rgba(0,0,0,.87);
  --secondary-text-color: rgba(0,0,0,0.54);
  --border: solid 1px #d9d9de;
  --gray-background: #fafafa;
  --gray-shade: #e1e1e1;
  --orange: #FF6A00;
  --orange-hover: #FEA74F;
  --orange-active: #CE6902;
}

.no-break {
  white-space: nowrap;
}
.navbar {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: var(--logo-font);
}

.navbar__brand {
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar__location {
  color: var(--secondary-text-color);
}

.navbar p {
  margin-top: 15px;
}


@media(min-width: 600px) {
  .navbar {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.navbar__filler {
  flex-grow: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: var(--logo-font);
  background-color: var(--primary-color);
  padding-top: 20px;
}

.navbar svg {
  position: absolute;
  left: 87px;
  top: 4px;
  width: 75px;
  height: 25px;
}

.navbar__brand {
  margin: auto;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  display: block;
  overflow: auto;
  width: 250px;
  height: 100px;
}

h2.navbar__brand__text {
  font-size: 30px;
  margin-top: 15px;
}

.navbar__brand__text-light {
  font-weight: 500;
}

.navbar__location h2 {
  display: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.navbar__filler {
  flex-grow: 0;
}

@media(min-width: 650px) {
  .navbar__brand {
    /*margin: 0;*/
  }

  .navbar__location h2 {
    text-align: left;
    display: inline-block;
  }

  .navbar__filler {
    flex-grow: 1;
  }
}

.navbar p {
  margin-top: 15px;
}




.call-to-action {
  overflow: auto;
  text-align: center;
  color: white;
  font-family: var(--logo-font);
  background-color: var(--primary-color);
  border-bottom: var(--border);
}

@media(min-width: 800px) {
  .call-to-action {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 80px;
  }
}

.call-to-action h1 {
  font-size: 40px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 500px;
}

@media(min-width: 800px) {
  .call-to-action h1 {
    text-align: left;
  }
}

@media(min-width: 600px) {
  .call-to-action h1 {
    font-size: 50px;
    margin-top: 60px;
    margin-left: 0;
  }
}

.call-to-action h2 {
  margin: auto;
  max-width: 600px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}

@media(min-width: 800px) {
  .call-to-action h2 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.call-to-action__button {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: var(--accent-color);
  font-family: var(--logo-font);
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
  cursor: pointer;
}

.call-to-action__button:hover {
  background-color: var(--accent-color-100);
}

.call-to-action__button:active {
  background-color: var(--accent-color-400);
}

.call-to-action svg {
  height: 300px;
  max-width: 100%;
  margin-top: 40px;
}

@media(min-width: 800px) {
  .call-to-action svg {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
}

.flex-left {
  flex-grow: 1;
  flex-basis: auto;
}

@media(min-width:800px) {
  .flex-right {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
  }
}

.filler {
  flex-grow: 1;
}
.how-works {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-family: var(--logo-font);
  border-bottom: var(--border)
}

.how-works h2 {
  margin-bottom: 60px;
}

.how-works__subheader {
  color: var(--primary-color-shade);
  font-size: 20px;
}

.how-works__body {
  color: var(--text-color);
}

.how-works__divider {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  border: 0;
  border-top: var(--border);
}
.apply-now {
  background-color: var(--gray-background);
  overflow: auto;
  text-align: left;
  font-family: var(--logo-font);
  border-bottom: var(--border);
  padding-top: 40px;
  padding-bottom: 80px;
}

.apply-now h2 {
  text-align: center;
  margin-bottom: 60px;
}

.apply-now__input-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.apply-now form {
}

.apply-now__fieldset {
  margin-bottom: 20px;
}

.apply-now label {
  font-size: 18px;
}

.apply-now input {
  flex-grow: 1;
  font-family: var(--logo-font);
  font-size: 20px;
  line-height: 30px;
  padding-left: 5px;
  border: var(--border);
  border-radius: 3px;
}

.apply-now select {
  height: 30px;
  font-size: 20px;
}

.apply-now__phone-text {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.apply-now__checkbox-label {
  margin-right: 20px;
}

.apply-now__button {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--logo-font);
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
  cursor: pointer;
}

.apply-now__button:hover {
  background-color: var(--primary-color-shade);
}

input.input-error {
  border: 1px solid #eb3432;
}

p.apply-now__error-text {
  color: #eb3432;
  font-size: 14px;
  margin-top: 7px;
}
.faqbanner {
  border-bottom: var(--border);
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: var(--logo-font);
  color: var(--text-color);
}

@media (min-width: 600px) {
  .faqbanner__flexcontainer {
    display: flex;
    flex-direction: horizontal;
  }
}

.faqbanner__p-q {
  color: var(--primary-color);
}

.faqbanner__p-a {
  margin-bottom: 40px;
  line-height: 1.5em;
}

.faqbanner__link {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}


/*this media width needs to match the one above*/
@media (min-width: 600px) {
  .faqbanner__flexleft {
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 30px;
  }
}

/*this media width needs to match the one above*/
@media (min-width: 600px) {
  .faqbanner__flexright {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 30px;
  }
}


.terms-banner {
  overflow: auto;
  background-color: var(--accent-color);
  color: white;
  font-family: var(--logo-font);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 120px;
  border-bottom: var(--border);
}

.terms-banner__headers-container {
  padding-left: 10px;
  padding-right: 10px;
}

.terms-banner h2.section-header {
  color: white;
  margin-bottom: 20px;
}

.terms-banner__subheader {
  font-weight: 200;
  font-size: 18px;
}

.terms-banner__box {
  border: none;
  overflow: auto;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.terms-banner__box:first-of-type {
  border-top: 1px solid white;
}

.terms-banner__box:last-of-type {
  border-bottom: 1px solid white;
}

.terms-banner__box-container {
  margin-top: 50px;
}



@media(min-width: 800px) {
  .terms-banner__box-container {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
  }

  .terms-banner__box {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid white;
  }

  .terms-banner__box:first-of-type {
    border-right: none;
  }

  .terms-banner__box:last-of-type {
    border-left: none;
  }

}

.terms-banner__box-label {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: .02em;
}

.terms-banner__box-text {
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: .02em;
  margin-bottom: 0;
}

.terms-banner__button {
  height: 50px;
  background-color: white;
  color: var(--accent-color);
}

.terms-banner__button {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  color: var(--accent-color);
  background-color: white;
  font-family: var(--logo-font);
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
  cursor: pointer;
}

.terms-banner__button:hover {
  background-color: var(--gray-background);
}

.terms-banner__button:active {
  background-color: var(--gray-shade);
}
.live-payout {
  text-align: center;
  background-color: var(--accent-color);
  padding-top: 40px;
  padding-bottom: 80px;
}

.live-payout__subheader {
  color: white;
  font-family: var(--logo-font);
  font-weight: 200;
  font-size: 18px;
}

.live-payout h2.section-header {
  color: white;
  margin-bottom: 20px;
}

.live-payout__payout {
  color: white;
  font-family: var(--logo-font);
  font-weight: 200;
  font-size: 37px;
}

.live-payout__bail-label {
  color: white;
  font-family: var(--logo-font);
  font-weight: 200;
}

.live-payout__input {
  font-size: 22px;
  line-height: 22px;
  padding: 10px 10px;
  font-family: var(--logo-font);
  border-radius: 4px;
}

@media(min-width: 600px) {
  .live-payout__input {
    font-size: 18px;
  }
}
.footer {
  font-family: var(--logo-font);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__company {
  color: var(--secondary-text-color);
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
