.navbar {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: var(--logo-font);
  background-color: var(--primary-color-alternate);
  padding-top: 20px;
}

.navbar svg {
  position: absolute;
  left: 87px;
  top: 4px;
  width: 75px;
  height: 25px;
}

.navbar__brand {
  margin: auto;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  display: block;
  overflow: auto;
  width: 250px;
  height: 100px;
}

h2.navbar__brand__text {
  font-size: 30px;
  margin-top: 15px;
}

.navbar__brand__text-light {
  font-weight: 500;
}

.navbar__location h2 {
  display: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.navbar__filler {
  flex-grow: 0;
}

@media(min-width: 650px) {
  .navbar__brand {
    /*margin: 0;*/
  }

  .navbar__location h2 {
    text-align: left;
    display: inline-block;
  }

  .navbar__filler {
    flex-grow: 1;
  }
}

.navbar p {
  margin-top: 15px;
}

