.footer {
  font-family: var(--logo-font);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__company {
  color: var(--secondary-text-color);
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
